<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda - Todos</title>
</head>
<body>
    <div class="col">
        <h1>Agenda</h1>
        <br>
        <ul>
            <li th:each="contato : ${lista}">
                <a th:text="${contato.nome}"></a>
            </li>
        </ul>

        <a href="/cadastro">Novo Contato</a>
    </div>
</body>
</html>